/*===============
    Class card
=================*/

h1 {
  background-color: $secondary-color;
  color: white;
  font-size: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 65px;
  padding: 20px;
  width: 100%;
  margin: 0;
  transform: translateY(50%);
  z-index: 1;
}

.section-conteiner {
  background: #f9f9f9;
  border: 3px solid #4b73ff;
  border-radius: 0px 0px 30px 30px;
  padding-top: 20px;
  display: grid;
  grid-template-areas: "1 2" "3 4";
  gap: 30px 40px;
  padding: 30px;
  padding-top: 60px;

  .btn {
    background-color: $primaray-color;
    color: white;
    font-size: 24px;
    padding: 0.75em 2em;
    border-radius: 50px;
    text-align: center;
  }
}
