/*===============
    Class card
=================*/

/* General gard */
section {
	width: 30%;
	max-width: 400px;
	position: relative;
	margin-top: 3em;
}

/* Class name */
h1 {
	background-color: $secondary-color;
	color: white;
	font-size: 45px;
	margin: 0 auto;
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 65px;
	padding: 20px;
	width: 100%;
	margin: 0;
	transform: translateY(-50%);
	z-index: 1;
	white-space: nowrap;
}

/* Buttons conteiner */
.section-conteiner {
	background: #f9f9f9;
	border: 3px solid $secondary-color;
	border-radius: 0px 0px 30px 30px;
	padding-top: 20px;
	display: grid;
	grid-template-areas: "1 2" "3 4";
	gap: 30px 40px;
	padding: 20px;
	padding-top: 60px;
}

/* Class select button */
.btn {
	background-color: $primaray-color;
	color: white;
	font-size: 24px;
	border-radius: 50px;
	height: 2.25em;
}
