#pop-up {
	border: 3px solid black;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 2;
	padding-inline: 5vw;
	top: 50%;
	left: 50%;
	height: 60vh;
	width: 80vw;
	transform: translate(-50%, -50%);
	visibility: hidden; //todo JS
}

.course {
	width: 80%;
}
